.card {
  position: relative;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: vw(30);
}

.card__favorite {
  position: absolute;
  top: vw(30);
  left: vw(30);
}

.card__img {
  height: vw(112);
  width: 100%;
  object-fit: contain;
}

.card__name {
  font-weight: 400;
  font-size: vw(20);
  line-height: 100%;
  margin-top: vw(14);
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: vw(14);
}

.card__price-name {
  font-weight: 500;
  font-size: vw(14);
  line-height: 100%;
  text-transform: uppercase;
  color: #BDBDBD;
}

.card__price {
  font-weight: 700;
  font-size: vw(16);
  line-height: 100%;
  margin-top: vw(5);
}