.horizontal-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  column-gap: vw(20);
  padding: vw(30) vw(20);
}

.horizontal-card__img {
  width: vw(70);
  height: 100%;
}

.horizontal-card__text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: vw(10);
}

.horizontal-card__name {
  font-weight: 400;
  font-size: vw(18);
  line-height: 100%;
}

.horizontal-card__price {
  font-weight: 700;
  font-size: vw(16);
  line-height: 100%;
}

.horizontal-card__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
