.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.popup__backdrop {
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.popup__wrapper {
  position: absolute;
  overflow: auto;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  padding: vw(30);
}

.popup__card-list {
  margin-top: vw(30);
  margin-bottom: vw(30);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: vw(20);
}

.popup__bottom-block {
  display: flex;
  flex-direction: column;
  row-gap: vw(20);
}

.popup__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.popup__text {
  font-weight: 400;
  font-size: vw(16);
  line-height: 100%;
  white-space: nowrap;
  padding-right: vw(10);
}

.popup__amount {
  font-weight: 600;
  font-size: vw(16);
  line-height: 100%;
  white-space: nowrap;
  padding-left: vw(10);
}

.popup__dashed-line {
  border: none;
  border-bottom: 1px dashed #dfdfdf;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.popup__cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.popup__cart-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
  padding-bottom: vw(30);
}

.popup__title {
  flex: 0 1 auto;
}

.popup__empty-cart {
  height: 100%;
}

.popup__empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94%;
}

.popup__img {
  display: block;
  width: vw(120);
  height: vw(120);
}

.popup__empty-title {
  font-weight: 600;
  font-size: vw(22);
  line-height: 100%;
  margin-top: vw(20);
}

.popup__desc {
  max-width: vw(285);
  margin-top: 10px;
  font-weight: 400;
  font-size: vw(16);
  line-height: 150%;
  text-align: center;
  opacity: 0.4;
}

.popup__empty-btn {
  width: vw(245);
  margin-top: vw(40);
}
