* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 vw(60);
}

.global-container {
  padding: vw(85) vw(85) 0;
  background-color: #e7f6ff;
}

.grid {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  column-gap: 16px;
  grid-template-columns: repeat(8, 1fr);
}
